<footer class="footer bg-dark text-light py-4">
    <div class="container text-center">
        <p>&copy; {{ currentYear }} My Angular App. All rights reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#" class="text-light">Privacy Policy</a>
            </li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item">
                <a href="#" class="text-light">Terms of Service</a>
            </li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item">
                <a href="#" class="text-light">Contact</a>
            </li>
        </ul>
    </div>
</footer>